/* Styles Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, cite, a, abbr, acronym, address, em, strong, img, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; border: 0; outline: 0; margin: 0; font-size: 1.0em; font-weight: inherit; font-family: inherit; font-style: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

a { text-decoration: none; }
a:link { color: #FBB829; text-decoration: none; }
a:visited { color: #FBB829; }
a:hover { text-decoration: underline; }


/* Helper Styles */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }


/* Base Styles */
body { font-family: Ubuntu; color: #333; } 

button { 
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:1px 1px 0 #E1FFCC inset, 1px 1px 0 #336633;
  background-color: #E1FFCC;
  color:#363;
  font-size:14px;
  font-weight:600;
  letter-spacing:0;
  padding:5px 10px;
  text-decoration:none;
}
p { padding: 3px 0; }

h1 { font-size: 30px; font-weight: bold; }
h2 { font-size: 20px; font-weight: bold; }

input {
  width: 100%; 
  color: #FBB829;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  border: 1px solid #e1ffcc;
}
input:focus { outline: 5px auto #e1ffcc; }



/* Component Styles */
div.identity { font-size: 12px; }
div.identity img { width: 50px; height: 50px; float: left; margin-right: 8px; }

ul.link-list { padding: 7px 0; }
ul.link-list li { padding: 5px 10px; cursor: pointer; }
ul.link-list li:hover { background-color: #7FFF24; }
ul.link-list li.active { background-color: #E1FFCC; }
ul.link-list li a { height: 100%; width: 100%; display: block; }
ul.link-list li a:hover { text-decoration: none; }

ul.news-feed li { padding: 10px 15px; border-bottom: 1px solid #7FFF24; }


/* Page Styles */
#navbar { padding-top: 20px; background-color: #FBB829; color: #FFF; text-align: right; }
#navbar div { width: 950px; margin: 0px auto; background-color: #7FFF24; height: 1.5em; line-height: 1.5em; }
#navbar span { float: left; margin-left: 2em; }
#navbar a { padding: 0.5em 1em; color: #FFF; border: 1px solid #FFF; }
#navbar a:hover, #navbar .clicked a { background-color: #7FFF24; text-decoration: none; }
#navbar .toggle { display: inline-block; }
#navbar .dropdown { display: none; }
#navbar .dropdown a { border: none; }
#navbar .clicked .dropdown { display: block; background-color: #FFF; padding: 0.5em 1em; color: #333; }

#player-page { width: 950px; margin: 0px auto; }
#player-page h1 { margin: 1em 75px; color: #FBB829; }
#player-page .left, #player-page .right { display: block; width: 150px; }
#player-page .left button { float: right; margin-right: 50px; }
#player-page .right button { float: left; margin-left: 50px; }
#player-page table { margin-top: 30px; }
#player-page table .fb_iframe_widget { margin-top: 50px; }

#landing { display: table; width: 950px; margin: 0 auto; }
#landing h1 { padding: 50px 0; text-align: center; font-weight: bold; font-size: 90px; color: #FBB829; }
#landing h2 { text-align: center; padding: 30px 32px 40px; font-weight: bold; font-size: 40px; color: #7FFF24; }
#landing .left, #landing .right { width: 475px; float: left; }
#landing .left img { display: block; margin: 0 auto; border: 25px solid #7FFF24; rounded-corner: 5px; }
#landing .right img { display: table; margin: 0 auto; }

#wall { width: 950px; margin: 50px auto 0; }
#wall > .left { float: left; width: 630px; }
#wall > .left > div { padding-bottom: 20px; }
#wall > .left > div h2 { float: left; line-height: 34px; padding-left: 10px; color: #FBB829; }
#wall > .left > div button { float: right; }
#wall .list li { 
  margin: 10px 0; padding: 5px 10px; border: #000; background-color: #0F0; 
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:1px 1px 0 #0F0 inset, 1px 1px 0 #080;
  background:-moz-linear-gradient(center top , #7FFF24 0pt, #0F0 100%) repeat scroll 0 0 transparent;
  color:#333;
  font-size:14px;
  font-weight:600;
  letter-spacing:0;
  padding:5px 10px;
  text-decoration:none;
  position: relative;
}
#wall .list li img { height: 50px; width: 50px; float: left; padding-right: 10px; }
#wall .list li h2 { float: right; color: #333; position: absolute; top: 5px; right: 15px; }
#wall > .right { float: right; width: 270px; background-color: #E1FFCC; }
#wall > .right li { height: 300px; width: 250px; margin: 10px; background-color: #333; text-align: center; line-height: 300px; }


