/* Styles Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, cite, a, abbr, acronym, address, em, strong, img, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; border: 0; outline: 0; margin: 0; font-size: 1.0em; font-weight: inherit; font-family: inherit; font-style: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

a { text-decoration: none; }
a:link { color: #444444; text-decoration: none; }
a:visited { color:#444444; }
a:hover { text-decoration: underline; }


/* Base Styles */


/* Page Styles */
#landing { width: 950px; margin: 0 auto; font-family: Ubuntu; }
#landing h1 { padding: 50px 0; text-align: center; font-weight: bold; font-size: 90px; color: #FBB829; }
#landing h2 { text-align: center; padding: 30px 32px 40px; font-weight: bold; font-size: 49px; color: #7FFF24; }
#landing .left, #landing .right { width: 475px; float: left; }
#landing .left img { display: block; margin: 0 auto; border: 25px solid #7FFF24; rounded-corner: 5px; }
#landing .right img { display: table; margin: 0 auto; }

#myfeed #feed { width: 490px; padding: 5px; border-bottom: 1px solid #7FFF24; }
#myfeed img { border: 10px solid #7FFF24; }
.friend, .title { color: #7FFF24; }


