{% set title = 'MengoMengo: Social TV' %}
{% block pre %}{% end %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="fb:admins" content="100000273342150" />
    <meta property="fb:app_id" content="204128796282802" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url('styles/main.css') }}"/>
  </head>

  <body>
    {% block body %}{% end %}

    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=204128796282802&amp;xfbml=1"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="{{ static_url("javascript/facebox.js")  }}"></script>
    <script src="{{ static_url("javascript/main.js") }}"></script>
    <script>
      FB.init({appId: '204128796282802', status: true, cookie: true, xfbml: true});
      jQuery(document).ready(function($) { 
        $('a[rel*=facebox]').facebox();
        $.facebox.settings.closeImage = '/static/images/closelabel.png'
        $.facebox.settings.loadingImage = '/static/images/loading.gif'
      });
      {% block javascript %}{% end %}
    </script>

  </body>
</html>

