{% extends "_/static_base.html" %}

{% block content %}
<h1>About</h1>

<p>paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</p>

<p>paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</p>

<p>paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</p>

<p>paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph 
paragraph paragraph paragraph paragraph paragraph paragraph paragraph paragraph</p>

{% end %}
