<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>MengoMengo: Social TV</title>
      <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{{ static_url('styles/main.css') }}"/>
  </head>
  <body id="myfeed">
    <div class="left"></div>
    <ul class="center">
      <li>
        <p><span class="friend">Jessica Ahern</span> likes <span class="title">Cheezburgers Aladdin</span></p>
        <img src="{{ static_url('images/frog1.jpg') }}" height="133" width="200"/>
      </li>
      <li>
        <p><span class="friend">Ninja Frog</span> suggests <span class="title">Clear: Spring Album</span></p>
        <img src="{{ static_url('images/frog1.jpg') }}" height="133" width="200"/>
      </li> 
    </ul>
  </body>
</html>
