<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>MengoMengo: Social TV</title>
      <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{{ static_url('styles/main.css') }}"/>
  </head>
  <body class="trifold">

    <div class="left">
        <div class="identity clearfix">
          <img src="{{ static_url('images/frog1.jpg') }}"/>
          <p class="name">Andrew Johnson</p>
          <p class="link"><a href>Facebook Profile</a></p>
        </div>
        <ul class="link-list">
          <li class="active"><a href>Status</a></li>
          <li><a href>Friends</a></li>
          <li><a href>Subscriptions</a></li>
          <li><a href>Playlists</a></li>
        </ul>
    </div>

    <div class="center">
      <input type="text" size="30" value="Share a link"/>
      <ul class="news-feed">
        <li><p><a href>Jessica Ahern</a> likes <a href>Cheezburgers Aladdin</a></p></li>
        <li><p><a href>Jessica Ahern</a> likes <a href>Cheezburgers Aladdin</a></p></li>
      </ul>
    </div>

    <div class="right">
      Ads go here
    </div>

  </body>
</html>
