{% extends "_/base.html" %}

{% block pre %}
  {% set title = video['list'] %}
{% end %}

{% block body %}
  {% include "_/navbar.html" %}
  <div id="player-page">
    <h1>{{ video["title"] }}<br/>
      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmengomengo.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </h1>
    <table>
      <tr>
        <td><a class="left" href="/player?v={{prev}}">{% if prev != None %}<button>Previous</button>{% end %}</a></td>
        <td>
          {% if video['type'] == 'youtube' %}
            <object width="550" height="308">
              <param name="movie" value="http://www.youtube.com/v/{{ video['data'] }}?fs=1"</param>
              <param name="allowFullScreen" value="true"></param>
              <param name="allowScriptAccess" value="always"></param>
              <embed src="http://www.youtube.com/v/{{ video['data'] }}?fs=1"
                type="application/x-shockwave-flash"
                allowfullscreen="true"
                allowscriptaccess="always"
                width="550" height="308">
              </embed>
            </object>
          {% elif video['type'] == 'facebook' %}
            <object width="550" height="308">
              <param name="allowfullscreen" value="true" />
              <param name="movie" value="http://www.facebook.com/v/{{ video['data'] }}" />
              <embed src="http://www.facebook.com/v/{{ video['data'] }}" type="application/x-shockwave-flash"
                allowfullscreen="true" width="550" height="308">
              </embed>
            </object>
          {% end %}
        </td>
        <td><a class="right" href="/player?v={{next}}">{% if next != None %}<button>Next</button>{% end %}</a></td>
      </tr>
      <tr>
        <td></td>
        <td><fb:comments href="mengomengo.com" num_posts="10" width="550"></fb:comments></td>
      </tr>
    </table>
  </div>
{% end %}
