{% extends "base.html" %}

{% block pre %}
  {% set title = 'Itazura Na Kiss (Episode 23, Part 2)' %}
{% end %}

{% block javascript %}
  {% if False %}
  $('#player').click(function(){
    play({{video}})
  })
  {% end %}
{% end %}

{% block body %}
  {% include "_navbar.html" %}
  <div id="player-page">
    <h1>{{ 'Naoki proposes!' }}<br/><fb:like></fb:like></h1>
    <table>
      <tr>
        <td></td>
        <td>
          <img id="play" src="{{ static_url("images/play.png") }}"/>
        </td>
      </tr>
      <tr>
        <td>
          <img id="prev" src="{{ static_url("images/play.png") }}"/>
        </td>
        <td>
          <fb:comments url="{{request.uri}}" width="550px" height="600px" simple="1" css="{{ static_url('styles/main.css') }}"></fb:comments>
        </td>
        <td>
          <img id="next" src="{{ static_url("images/play.png") }}"/>
        </td>
      </tr>
    </table>
  </div>
{% end %}
