{% extends "base.html" %}

{% block pre %}
  {% set title = '%s (%)' % (video['group'],video['order']) %}
{% end %}

{% block body %}
  {% include "_navbar.html" %}
  <div id="player-page">
    <h1>{{ video["title"] }}<br/><fb:like></fb:like></h1>
    <table>
      <tr>
        <td></td>
        <td>
          <img id="play" src="{{ static_url(video["img"]) }}"/>
        </td>
      </tr>
      <tr>
        <td>
          {% try %}
          <img id="prev" src="{{ static_url(prev["img"]) }}"/>
          {% except %}
          <img id="prev" src="{{ static_url("/images/no_video.png") }}"/>
          {% end %}
        </td>
        <td></td>
        <td>
          {% try %}
          <img id="next" src="{{ static_url(next["img"]) }}"/>
          {% except %}
          <img id="next" src="{{ static_url("/images/no_video.png") }}"/>
          {% end %}
        </td>
      </tr>
      <tr>
        <td></td>
        <td><fb:comments href="mengomengo.com" num_posts="10" width="550"></fb:comments></td>
      </tr>
    </table>
  </div>
{% end %}
