<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <form enctype="multipart/form-data">
      <table>
        <tr>
          <td><label for="file">Upload a file</label></td>
          <td><input type="file" id="file" name="file" size="30"/>
        </tr>
        <tr>
          <td><label for="title">Title</label></td> 
          <td><input type"text" id="title" name="title" value=""/></td>
        </tr>
        <tr>
          <td><label for="description">Description</label></td>
          <td><textbox id="description" name="description"/></textbox></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Upload"/></td>
      </table>
    </form>
  </body>
</html>
