<form id="video_upload" method="post" encoding="multipart/form-data" enctype="multipart/form-data" 
 action="https://api-video.facebook.com/method/video.upload">
  <input type="hidden" id="access_token" name="access_token" value=""/>
  <h2>Upload a video to "News Feed"</h2>
  <table>
    <tr>
      <td><label for="title">Video Title</label></td> 
      <td><input id="title" name="title" type="text" size="20" value=""/></td>
    </tr>
    <tr>
      <td><label for="file">Video File</label></td>
      <td>
        <div class="clearfix" style="position: relative">
	  <input style="position: absolute" type="text" id="filename" value="Choose a file to upload" />
	  <input style="position: absolute; z-index: 2; opacity: 0; cursor: pointer" type="file" id="file" name="file" />
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button onclick="submit_video()">Submit</button></td>
    </tr>
  </table>
</form>
<script> 
  $('#access_token').val( FB.getSession().access_token );
  $('input[type=file]').change(function(e){
    $('#filename').val( $(this).val() );
  });
</script>
