{% extends "base.html" %}
{% block body %}
  {% include "_navbar.html" %}

<div id="wall">

  <div class="left feed">
    <button type="submit"/>Upload a Video</button>
    <ul class="list">
      {% for video in [ {'group':'Naruto', 'order':'Episode 22', 'title':'Fight to the death!', 'img':'x' }, {'group':'iJustine', 'order':'Episode 67', 'title':'Why am I glowing?', 'img':'x'} ] %}
        <li>
          <img src='{{ video['img'] }}'/>
          <p>{{ video['group'] }} ({{ video['order'] }})</p>
          <p>{{ video['title'] }}</p>
        </li>
      {% end %}
    </ul>
  </div>

  <ul class="right">
    <li>Ads go here</li>
    <li>Ads go here</li>
  </ul>

</div>
{% end %}
{% block javascript %}
  rest_feed({ url: "/api/wall" });
{% end %}
